<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="logfile"
           fileName="Logs\mail-service-${shortdate}.log"
           maxArchiveFiles="30"
           layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${onexception:EXCEPTION OCCURRED\: ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method} ${stacktrace}}" />
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>